body {
    font-family: "Roboto Mono", "Courier New", monospace;
    background-color: #001220;
    color: white;
    margin: 0;
    padding: 0;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

.visible {
    visibility: visible;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.nav-links .active {
    border-bottom: 2px solid #ffd700;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}

.main-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.text-content p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    letter-spacing: 0.05em;
    font-weight: 300;
}

.text-content a {
    color: white;
    text-decoration: underline;
    transition: all 0.3s ease;
    padding: 2px 4px;
}

.text-content a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

#portfolio {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #001a30;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.portfolio-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.portfolio-item h3 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.portfolio-item p {
    color: #cccccc;
    margin-bottom: 0.5em;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tag {
    background-color: #ffe657;
    color: #001220;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.875em;
}

.portfolio-links .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #ffa200;
    color: #001220;
    text-decoration: none;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.portfolio-links .button:hover {
    background-color: white;
    color: black;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: -8rem;
    margin-left: 10rem;
}

.location,
.affiliation {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.location i,
.affiliation i {
    margin-right: 0.5rem;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.social-links a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ffd700;
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

/* 媒体查询：适应手机屏幕大小 */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-content h1 {
        text-align: center;
        font-size: 36px;
    }

    .text-content p {
        text-align: center;
        font-size: 16px;
    }

    #portfolio {
        width: 100%;
    }

    .portfolio-item {
        align-items: center;
        text-align: center;
    }

    .contact-info {
        align-items: center;
        margin-left: 0;
        margin-bottom: 0;
    }

    .location,
    .affiliation {
        justify-content: center;
        width: 100%;
    }

    .social-links {
        justify-content: center;
        width: 100%;
    }

    footer {
        text-align: center;
    }
}
